@font-face {
    font-family: 'codecPro';
    src: local('Codec Pro Fat'), local('CodecPro-Fat'),
        url('./CodecPro-Fat.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'codecPro';
    src: local('Codec Pro News'), local('CodecPro-News'),
        url('./CodecPro-News.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'codecPro';
    src: local('Codec Pro Heavy'), local('CodecPro-Heavy'),
        url('./CodecPro-Heavy.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'codecPro';
    src: local('Codec Pro Bold'), local('CodecPro-Bold'),
        url('./CodecPro-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

