@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'codecPro';
  font-weight: 300;
  font-size: 14px;
  color: theme(colors.vma.darkGrey)
}

@layer components {
  .link {
    @apply 
  }
}